.menu-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 10px;
  padding: 10px;
}

.menu-container::-webkit-scrollbar {
  display: none;
}

.box {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(137, 134, 134, 0.2);
  width: 200px;
  text-align: center;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}

.image-container {
  position: relative;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.image-container img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.heart-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  z-index: 0;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
  border-radius: 50%;
}

.heart-icon:hover {
  transform: scale(1.1);
}

/* .details {
  padding: 1px;
} */

.detailsPara {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.food-title {
  margin: 0px 4px;
  font-size: 14px;
  color: black;
  max-width: 200px;
  /* white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis; 
  word-break: normal; 
  word-spacing: normal; */
}


.food-price {
  font-weight: bold;
  margin-right: 3px;
}

button {
  padding: 8px;
  background-color: rgb(240, 150, 6);
  color: black;
  border: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
}

button:hover {
  background-color: #f0f0f0;
}

@media (max-width: 768px) {
  .box {
    width: 160px;
  }
  .image-container img {
    height: 120px;
  }
  .detailsPara p {
    font-size: 12px;
  }
  button {
    padding: 0px 6px 0px 6px;
  }
}

@media (max-width: 480px) {
  .box {
    width: 120px;
  }
  .image-container img {
    height: 100px;
  }
  .detailsPara p {
    font-size: 10px;
  }
  button {
    padding: 5px;
  }
}
