.admin-login-container{
    width: 300px;
    height:380px;
    padding: 20px;
    margin-top: 100px;
    margin-left: 450px;
    background-color: orange;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    text-align: center; /* Center the content */
    margin-bottom: 100px;
 }
 .admin-login-form{
     color: white;
 }
 .form-group{
     display: flex;
     flex-direction: column;
 }
 .form-group label{
   font-size: 1rem;
   margin-bottom: 5px;
   text-align: left;
 }
 .form-group input{
     width: 95%;
   padding: 10px;
   margin-bottom: 15px;
   border: 1px solid #ccc;
   border-radius: 4px;
   font-size: 1rem;
 }
 button{
   background-color: #fff;
   width: 100%;
   padding: 12px;
   margin-top: 10px;
   font-size: 1rem;
   font-weight: bold;
   border: none;
   border-radius: 4px;
   cursor: pointer;
 }
 button:hover{
     background-color: orange;
 }
 