

.headerMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  /* background-color: #ffa500; */
  background-color: #ffffff;
  color:  #ffa500;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
}

.head-menu{
display: flex;
flex-direction: row-reverse;

}
.add-item-button {
/* right:10px; */
     /* margin-left: auto; */
     margin-right: 70px;
  background-color: white;
  color: #ffa500;
  border: 1px solid #ffa500;
  border-radius: 5px;
  padding: 5px 15px;
  cursor: pointer;
  max-width: 190px;
  max-height: 70px;
}

.add-item-button:hover {
  background-color: #ff8000;
  color: white;
}

.category-dropdown {
     margin-left: 70px;
    left:10px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #ffa500;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.menu-category {
  margin: 10px 0;
}

.category-button {
  background-color: #ffa500;
  width: 100px;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.menu-table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.menu-table th, .menu-table td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.menu-table th {
  background-color: #ffa500;
  color: white;
}

.item-image {
  width: 80px;
  height:60px;
  height: auto;
  border-radius: 5px;
}

.update-button {
  background-color: #ffa500;
  color: white;
  border: none;
  padding: 5px 15px;
  cursor: pointer;
  border-radius: 5px;
  margin: 1px 5px;
}
.remove-button {
  background-color: #ffa500;
  color: white;
  border: none;
  padding: 5px 15px;
  cursor: pointer;
  border-radius: 5px;
  margin: 1px 5px;
}
.update-button:hover {
  background-color: #ff8000;
}

.remove-button:hover {
  background-color: #e60000;
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Dark background with transparency */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it appears above other content */
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 300px; /* Adjust width as needed */
  text-align: center; /* Center text */
}

.modal-content input,
.modal-content select {
  display: block;
  margin: 10px auto; /* Center input fields */
  padding: 10px;
  width: calc(100% - 20px); /* Full width with padding */
  border: 1px solid #ddd;
  border-radius: 5px;
}

.modal-content button {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #ffa500; /* Button color */
  color: white;
  cursor: pointer;
}

.modal-content button:hover {
  background-color: #ff8000; /* Button hover color */
}
