
  .main-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 20px;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
  }
  
  .User-list {
    flex-grow: 1; 
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box;
  }

  table {
    width: 100%; 
    table-layout: fixed;
    border-collapse: collapse;
  }

  thead th {
    text-align: left;
    padding: 10px;
    background-color: #ffa500;
    color: white;
  }

  tbody td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  